/* COLORS ........................................................................ */

/* 
    black
    white
    lightgrey               rgb(190,190,190)
    blue                    rgb(100, 100, 250)
*/

/* REGULAR ........................................................................ */

* {
    box-sizing: 		    border-box;
    padding:                0;
}
body {
    margin:                 0;
    font-size: 			    16px;
    font-family: 		    'Arial', sans-serif;
    width:                  100%;
    /* background-color:       rgb(190,190,190); */
    /* background-color:       rgb(27, 95, 255); */
    /* background-image: linear-gradient(to top, rgb(100, 100, 250) 0%, black 50%); */
    /* background-image: linear-gradient(to top, black 0%, rgb(100, 100, 250) 50%); */
    background-image: linear-gradient(to top, rgb(100, 100, 250) 40%, white 100%);
    /* background-image: linear-gradient(to top, white 0%, rgb(100, 100, 250) 70%); */
    /* background-image:       url("../img/pixabay/tv-tower.jpg"); */
    /* background-image:       url("../img/pixabay/brandenburg-gate.jpg"); */
    /* background-image:       url("../img/pixabay/berlin.jpg"); */
    /* background-image:       url("../img/pixabay/brandenburg-gate1.jpg"); */
    background-repeat:      no-repeat;
    background-attachment:  fixed;
    background-size:        cover;
}
a {
    color:                  black;
    text-decoration:        none;
}
a:hover {
    color:                  rgb(100, 100, 250);
}
a:active {
    color:                  rgb(100, 100, 250);
}
a:target {
    color:                  rgb(100, 100, 250);
}
#active {
    color:                  rgb(100, 100, 250);
}
div.lang {
    right: 25px;
    position: absolute;
    top: 3rem;
    font-weight: bold;
}
div.lang a {
    padding-left: 1rem;
}
h2, h3 {
    text-align:             center;
    color:                  rgb(100, 100, 250);
}


/* NAVIGATION ...................................................................... */

#logo {
    width:                  20rem;
}

/* #navtop li {
    padding:                1rem;
    display:                inline;
    background-color:       white;

} */
#navfooter li {
    padding:                1rem;
    display:                inline;
    background-color:       white;
}
div#navigation-top {
    top:                    0;
    padding:                1rem .5rem 3.5rem 1rem;
    width:                  100%;
    position:               fixed;
    background-color:       white; 

    box-shadow:             0px 0px 20px rgb(0, 0, 0);

    z-index:                2;
}
div#navigation-bottom {
    left:                   0;
    bottom:                 0;
    padding:                .5rem;
    width:                  100%;
    /* position:               fixed; */
    /* position:               static; */
    /* position:               absolute; */
    text-align:             center;
    background-color:       white;

    /* box-shadow:             0px 0px 20px grey; */

    z-index:                2;
}

#menu {
    font-size:1rem;
    position:absolute;
    margin-left: -10px;
}
#menu ul {
    list-style-type:none;
    list-style-image:none;
    margin:0;
    padding-left:0rem;
}
#menu li.topmenu {
    float:left;
}
.topmenu a {
    float:left;
    /* width:120px; */
    text-align:center;
}
.topmenu ul{
    display:none;
}
.topmenu a, .submenu a{
    padding:15px;
    color:rgb(0, 0, 0);
    /* font-weight:bold; */
    text-decoration:none;
    background-color:#ffffff;
    margin:0;
}
.submenu a{
    font-size:10px;
    width:100%;
    position:relative;
    clear:both; /* special IE6 */
    text-align: left;
}
#menu a:hover, .topmenu.on a {
    color:rgb(100, 100, 250);
    background-color:rgb(255, 255, 255) !important;
}
.topmenu:hover ul {
    display:block;
    z-index:500;
}
ul#right {
    padding:                0;
    /* right:                  -87rem; */
    right:                  10px;
    position:               fixed;
    /* width:                  520px; */
    /* float:                  right; */
}

/* CONTENT ........................................................................ */

div#contentbox {
    /* top:                    10rem; */
    /* bottom:                 10rem; */
    width:                  50%;
    min-height:                 47.8rem;
    position:               relative;
    background-color:       white;
    /* margin:                 8.85rem auto 4.5rem auto; */
    margin:                 10rem auto 2rem auto;

    /* box-shadow:             0px 0px 20px grey; */
    border-radius:          5px;

    z-index:                1;
}
div.header-img {
    /* position:               absolute; */
    /* clip:                   rect(0px,1500px,490px,0px); */
    width: 118%;
    margin-left: -9%;
    margin-top: -5%;
}
div.header-img img {
    border-radius:          5px;
}
div.content-text {
    position:               relative;
    /* padding:                500px 5rem 1rem 5rem; */
    padding:                2rem 2rem 1rem 2rem;
    text-align:             center;
    /* width:                  100%; */
}
div#text {
    padding-left:           6rem;
    padding-right:          6rem;
}
#area1 {

    width:                  100%;
    /* display:                block; */
}
.nicEdit-main {
    overflow:               scroll !important;
    height:                 30rem;
    /* margin-left:            10%;
    margin-right:           10%; */
}


/* CMS - Login .................................................................... */

div#login {
    width:                  30%;
    min-width:              15rem;
    /* min-height:             15rem; */
    background-color:       white;
    text-align:             center;

    margin:                 10rem auto;
    padding:                1rem 1rem 2rem 1rem;

    /* box-shadow:             0 0 20px grey; */

    border-radius:          5px;
}